RewriteEngine on

# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# RewriteCond %{HTTPS} !=on
# RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpeg|png|gif|webp|avif|svg)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
</IfModule>
# public : Indique que la réponse peut être mise en cache par n'importe quel cache.
# max-age=<expiration en secondes>
# END Cache-Control Headers
